.popup__input {
    width: 358px;
    margin-bottom: 28px;
    padding-top: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    border-style: none;
    box-shadow: none;
}

@media screen and (max-width: 768px) {
    .popup__input {
        width: 238px;
    }
}