.elements {
   width: 100%;
   display: grid;
   gap: 20px 17px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(auto-fit, 1fr);
   grid-auto-flow: row;
   box-sizing: border-box;
   justify-items: stretch;
   align-items: flex-start;
}