.profile__info {
    max-width: 340px;
    margin-left: 30px;
    display: grid;
    row-gap: 10px;
    contain: 19px;
    align-items: flex-end;
    grid-template-areas:
        "profile__info_name profile__info_name profile__edit-button"
        "profile__info_about profile__info_about .";
}

@media screen and (max-width: 768px) {
    .profile__info {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        display: grid;
        gap: 10px;
        align-items: baseline;
        grid-template-areas:
            ". profile__info_name profile__info_name profile__edit-button"
            ". profile__info_about";
    }
}