.elements__like-button {
   background-color: rgba(255, 255, 255, 0);
   background-image: url('../../../images/cord.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 22px;
   border-style: none;
   width: 24px;
   height: 24px;
   margin: 0;
   padding: 0;
}

.elements__like-button:hover {
   opacity: .7;
   cursor: pointer;
}

.elements__like-button:active {
   background-image: url('../../../images/black_cord.svg');
   opacity: 1;
}